:root {
  .common-width {
    width: 1100px;
    margin: 0 auto;
  }

  .wrapper-v1 {
    width: 1100px;
  }

  .wrapper-v2 {
    width: 980px;
  }

  /* 隐藏滚动条 */
  .scroll-box {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
  }
  .scroll-box::-webkit-scrollbar {
    display: none; /* Chrome/Safari/Opera */
  }

  /* 箭头悬浮动画 */
  .hover\:scale-110:hover {
    transform: scale(1.1);
  }

  --shadow-black: #242424;
  --hover-black: #000000;
}
